.event-generator>#location-title{
  text-align: center;
  font-size: 35pt;
}

.event-generator>div{
  position: relative;
  height: 80vh;
  gap: 10px;
  padding: 25px;
}

.event-generator #pac-input{
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 12vw;
  width: 25vw;
}

.event-generator #map{
  flex: 1;
  border-radius: 0.5rem;
  height: 100%;
}

.event-generator .events-panel{
  flex: 1;
  height: 100%;
}
.event-generator .events-panel>h1{
  margin-top: 0;
}

.events-panel>.events-list{
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 10px;
}

.events-list>a{
  all: unset;
}

.event-item{
  align-items: center;
  gap: 15px; 
  padding: 15px;
  border-radius: 0.5rem;
  margin-right: 1%;
}

.event-item:hover{
  background-color: RGBA(4, 57, 94, 0.25)
}

.event-item .event-time{
  height: 100%;
  flex: 1;
}

.event-item .event-time>#date{
  font-weight: bold;
}

.event-item .event-time>p, .event-item .event-info>p{
  margin: 0;
  text-align: justify;
  width: 100%;
}

.event-item .event-time>#multi{
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-size: larger;
}

.event-item>img{
  border-radius: 0.25em;
  max-height: 58.5px;
  max-width: 104px;
  flex: 1;
}

.event-item .event-info{
  flex: 6;
}

.event-item .event-info>#name{
  font-weight: bold;
  font-size: large;
}

.event-generator .map-loader{
  position: absolute;
  z-index: 1;
  left: 0vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.lights-container{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.keyboard{
  height: 200px;
}

.key-row{
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.key-button{
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  width: 58px;
  max-width: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.key-button.one-and-a-half{
  flex: 1.5;
  font-size: 12px;
  max-width: unset;
}

.word-letter{
  content: 'T';
  width: 5rem;
  height: 5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
}