.about-container {
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
    justify-content: space-around;
    align-items: center;
}


@media only screen and (max-width: 1500px) {
  .about-container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.work-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.bio {
  max-width: 600px;
}