.event-generator>#location-title{
  text-align: center;
  font-size: 35pt;
}

.event-generator>div{
  position: relative;
  height: 80vh;
  gap: 10px;
  padding: 25px;
}

.event-generator #pac-input{
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 15vw;
  width: 25vw;
}

.event-generator #map{
  flex: 1;
  border-radius: 0.5rem;
  height: 100%;
}

.event-generator .events-panel{
  flex: 1;
  height: 100%;
}
.event-generator .events-panel>h1{
  margin-top: 0;
}

.events-panel>.events-list{
  overflow-y: scroll;
  gap: 10px;
}

.event-item>img{
  border-radius: 0.25em;
}

.event-generator .map-loader{
  position: absolute;
  z-index: 1;
  left: 20vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.lights-container{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}