.about-container {
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
    justify-content: space-around;
}


@media only screen and (max-width: 1500px) {
  .about-container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.work-wrapper {

}

.work-wrapper > div {
  padding: 20px;
}

.work-projects { 
  flex-grow: 1;
  font-size: 35px;
  font-weight: 700;
  text-align: end;
  text-decoration: underline;
}

.project-images {
  flex-grow: 3;

}