.vertical-divider{
  border: 1px solid var(--color1);
  width: 0px;
  opacity: 0.5;
}

.horizontal-divider{
  border: 1px solid var(--color1);
  width: 0px;
  opacity: 0.5;
}

.footer{
  width: 100%;
  bottom: 0;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: end;
}

.footer>div{
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}

.header{
  width: calc(100% - 120px);
  align-items: center;
  padding: 30px 60px 0px 60px;
  top: 0;
  z-index: 1000;
}

.header-container{
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.landscape-img {
  width: 45%;
  height: 45%;
}

.portrait-img {
  width: 25%;
}

@media only screen and (max-width: 1500px) {
  /* .header-container {
    justify-content: center;
  } */

  .landscape-img {
    width: 95%;
    height: 95%;
  }

  .portrait-img {
    width: 75%;
    height: 75%;
  }
}

.header p{
  margin: 0;
}

.nav-links>a{
  padding: 25px;
}

.nav-links .flex-container-column img.hover {
  opacity: 0;
  transition: opacity 0.25s;
  pointer-events: none;
}

.nav-links a:hover .hover,
.nav-links .flex-container-column:hover .hover {
  opacity: 1;
}