.vertical-divider{
  border: 1px solid var(--color1);
  width: 0px;
  opacity: 0.5;
}

.horizontal-divider{
  border: 1px solid var(--color1);
  width: 0px;
  opacity: 0.5;
}

.footer{
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 20px 0 0 0 !important;
}

.footer>div{
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}

.header{
  width: 95%;
  align-items: center;
  padding: 30px 60px 0px 60px;
  top: 0;
  z-index: 1000;
}

.header-container{
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.landscape-img {
  width: 45%;
  height: 45%;
}

.portrait-img {
  width: 25%;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamburger {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1001;
}

@media only screen and (max-width: 1500px) {

  .landscape-img {
    width: 95%;
    height: 95%;
  }

  .portrait-img {
    width: 75%;
    height: 75%;
  }
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1002;
  }

  .nav-links {
    position: absolute;
    top: 155px;
    right: 0;
    transform: translateX(-50%) translateY(-10px);
    flex-direction: column !important;
    background-color: var(--color4);
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s ease;
    padding: 10px 10px;
    border: 1px solid var(--color1);
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1001;
  }

  .nav-links.open {
    opacity: 1;
    visibility: visible;
    flex-direction: column;
    transform: translateY(0);
  }

  .nav-links a {
    padding: 10px;
  }
}

.header p{
  margin: 0;
}

.nav-links>a{
  padding: 25px;
}

.flex-container-column img {
  transition: opacity 0.3s ease;
}

img.base {
  opacity: 1;
}

img.hover {
  opacity: 0;
}

.flex-container-column img.hover.active, 
.nav-links a .flex-container-column:hover .hover {
  opacity: 1;
}

.flex-container-column img.hover{
  opacity: 0;
}