@font-face {
  font-family: 'Hackbot';
  src: url('/src/fonts/hackbot.otf') format('opentype');
}

:root{
  --color1: #031d44;
  --color2: #04395e;
  --color3: #70a288;
  --color4: #dab785;
  --color5: #d5896f;
}

body{
  font-family: "Hackbot";
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0%;
}

.color-1{
  background-color: var(--color1);
}

.color-2{
  background-color: var(--color2);
}

.color-3{
  background-color: var(--color3);
}

.color-4{
  background-color: var(--color4);
}

.color-5{
  background-color: var(--color5);
}

.text-color-1{
  color: var(--color1);
}

.text-color-2{
  color: var(--color2);
}

.text-color-3{
  color: var(--color3);
}

.text-color-4{
  color: var(--color4);
}

.text-color-5{
  color: var(--color5);
}

.flex-container-row{
  display: flex;
  flex-direction: row;
}

.flex-container-column{
  display: flex;
  flex-direction: column;
}

.center{
  justify-content: center;
  align-items: center;
}

.full-width{
  width: 100%;
}

.full-height{
  height: 100%;
}

.fit-page{
  min-width: 100vw;
  min-height: 100vh;
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.relative-position{
  position: relative;
}

.img-default{
  width: auto;
  height: auto;
}

.product-img{
  max-height: 22em;
  padding-bottom: 8px;
}

.product-title{
  font-size: small;
}

.content-box{
  max-height: 600px;
  padding: 20px;
  display: flex;
}

.image-page {
  justify-content: space-around;
}

.folder-name{
  text-align: center;
  font-size: 32px;
}

.folder-img{
  padding-right: 8px;
}

.content-page{
  min-height: 90vh;
  flex-wrap: wrap;
  padding: 40px;
}

.folder-page{
  justify-content: space-evenly;
  align-content: center;
}

.header{
  justify-content: start;
  align-items: center;
  padding: 15px;
  position: absolute;
  top: 0;
}

.header p{
  margin: 0;
}